{% extends 'base.html' %} {% block content %}
<div class="container">

	<div class="row">
		<div class="offset1 span5">
			<h1 class="welcome">Välkommen</h1>
		</div>
	</div>

	<div class="row">
		<div class="offset1 span5">
			{% block middle %}
			<p class="caps smallspacing">på Teknologföreningens 143:e  årsfest!</p>
			<p>Teknologföreningen firar sin 143:e årsfest lördagen
			den 21 mars 2015.</p>
			<p>
			Festligheterna inleds med solenn akt vid Design Factory (Betongblandargränden 5)
			på Aalto-universitetets campus i Otnäs, där det
			finns möjlighet att framföra hälsningar till nationen.
			Efter den solenna akten fortsätter festligheterna på Teknologföreningens nationshus	
			Urdsgjallar.</p>
			<p>
			Priset på supékortet är 80<span class="euro">€</span> för studerande 
			(65<span class="euro">€</span> alkoholfritt) och 100<span class="euro">€</span> 
			för graduerade (85<span class="euro">€</span> alkoholfritt).
			Sillfrukosten kostar 10<span class="euro">€</span> vid förköp, 
			12<span class="euro">€</span> vid dörren.</p>

			<p>Vi önskar alla gäster en trevlig och minnesrik fest!</p>
			<p>
			Anmälan öppnar 2 februari för inbjudna gäster och 20 februari för övriga.
			<a class="" href="/143/new/"><h2>Anmälan</h2></a>
				
			</p>
			{% endblock %}

		</div>
		<!--/span-->
		
		<div class="offset1 span3">
		<a href="/">
			<img src="{{ STATIC_URL }}img/143_noextra.png" alt="143" />
			</a>
		</div>

	</div> <!-- /row -->

	<div class="row">
		<div class="offset1 span5">
			<p class="caps heading">Kontaktuppgifter</p>
			<p>Ifall det finns något oklart angående arrangemangen besvarar årsfestmarskalkerna gärna dina frågor.</p>

			<p>Andreas Holm 044 277 0611 <br /> 
			Henrik Hillner 041 505 7004<br /></p>

			
			<p><a href="mailto:marskalker@teknolog.fi">marskalker@teknolog.fi</a></p>
			
			<p>
				Urdsgjallar<br /> Otsvängen 22<br /> 02150 Esbo
			</p>
		</div>
		
		<div class="offset1 span5">
			<p class="caps heading">Tidtabell</p>
			
			<table>
			<tr><td colspan="2"><h3 class="timetable">21 Mars 2015</h3></td></tr>
			
				<tr>
				<td>Solenn Akt</td><td>16:00</td><td>Design Factory,</br > Betongblandargränden 5C</td>
				</tr>
				
				<tr>
				<td>Cocktail</td><td>17:30</td><td>Urdsgjallar, Otsvängen 22</td>
				</tr>
				
				<tr>
				<td>Bankett</td><td>19:00</td><td>Urdsgjallar, Otsvängen 22</td>
				</tr>

				<tr><td colspan="2"><h3 class="timetable">22 Mars 2015</h3></td></tr>
			
				<tr><td>Sillfrukost</td><td>12:00</td><td>Urdsgjallar, Otsvängen 22</td></tr>
			</table>
			<p>
				<br /><a
					href="https://www.google.com/maps/d/viewer?mid=zaFxVrbCwvX0.kMudjIY3CB2w"
					target="_blank">Karta &raquo;</a>
			</p>
		
		</div> <!--/span-->

	</div> <!--/row-->
	<div class="row">
		<div class="offset1 span10">
			<div id="spons">
				<h2>&nbsp;</h2>
				<p class="caps heading">Sponsorer</p>
					<a href="http://www.thermoscientific.com/en/products/diagnostic-testing-products.html">
						<img src="{{ STATIC_URL }}festreklam/thermo14.jpg" alt="thermoscientific" />
					</a>
					<a href="http://aholatransport.com">
						<img src="{{ STATIC_URL }}festreklam/ahola14.png" alt="Ahola" />
					</a>
					<a href="http://attracs.com/">
						<img src="{{ STATIC_URL }}festreklam/attracs14.png" alt="Attracs" />
					</a>
					<a href="http://futurice.com/">
						<img src="{{ STATIC_URL }}festreklam/futurice.png" alt="futurice" />
					</a>
					<a href="http://tfif.fi/">
						<img src="{{ STATIC_URL }}festreklam/tfif14.png" alt="tfif" />
					</a>
					<a href="#">
						<img src="{{ STATIC_URL }}festreklam/LR14.jpg" alt="Lloyd's Register" />
					</a>
			</div>
		</div>
	</div> <!-- Sponsor reklam -->

</div> <!-- /container -->

{% endblock %}
