{% extends 'base.html' %} {% block content %}
<div class="row-fluid">
	<div class="span9">

		<div class="hero-unit">
			<h1>Teknologföreningen 141</h1>
			<p>Välkommen på Teknologföreningens 141:sta årsfest!</p>
			<p>Teknologföreningen firar sin 141:sta årsfest lördagen den 24
				mars. Festligheterna inleds med en solenn akt i Mellin-salen i
				Aalto-universitetets Tekniska Högskolas huvudbyggnad där det finns
				möjlighet att framföra hälsningar. Efter solenna akten fortsätter de
				glamorösa festligheterna på borgen Urdsgjallar.</p>

			<p>Vi önskar alla gäster en trevlig och minnesrik fest!</p>
			<p>
				<a class="btn btn-primary btn-large">Anmälan &raquo;</a>
			</p>
		</div>

		<div class="row-fluid">

			<div class="span6">
				<h2>Tid & Plats</h2>
				<h3>Lördagen 23.3.2013</h3>
				<ul>
					<li>Solenn Akt 16:00 (M-salen, Otsvängen 1, se karta)</li>
					<li>Coccare 17:30 (Urdsgjallar, Otsvängen 22)</li>
					<li>Bankett 19:00 (Urdsgjallar, Otsvängen 22)</li>

				</ul>
				<p>Pris: 75€/studerande, 90€/graduerade</p>

				<h3>Söndagen 24.3.2012</h3>
				<ul>
					<li>Sillis 12:00 (Urdsgjallar, Otsvängen 22)</li>
				</ul>
				<p>Pris: 8€</p>

				<p>
					<a class="btn"
						href="https://maps.google.com/maps/ms?msid=210659489061247135778.0004d36a44c2f3107b742&msa=0&ll=60.189287,24.827986&spn=0.010859,0.042272"
						target="_blank">Karta &raquo;</a>
				</p>
			</div>
			<!--/span-->

			<div class="span6">
				<h2>Kontakt</h2>
				<p>Ifall det finns något oklart angående arrangemangen besvarar
					årsfestmarskalkerna gärna dina frågor.</p>

				<p>
					050123456789 Jonas Öhman<br /> 050123456789 Fanny Henriksson<br />
				</p>
				<p>
					Urdsgjallar<br /> Otsvängen 22<br /> 02150 Esbo
				</p>
				<p>
					<a class="btn" href="mailto:marskalker@teknologforeningen.fi"">Ta
						kontakt &raquo;</a>
				</p>
			</div>
			<!--/span-->

		</div>
		<!--/row-->

	</div>
	<!--/span-->
</div>
<!--/row-->
{% endblock %}
