{% extends 'home.html' %} {% block middle %}

			<h1>Registrerad</h1>

				<ul>
					<li>Förening: {{ data.registration.org }}</li>
					<li>Deltar i solenn akt:  {{ data.registration.solenn }}
					<li>Vill framgöra hälsning: {{ data.registration.greeting }}</li>
					<li>Övrigt: {{ data.registration.misc }}</li>
				</ul>
				<ul>
					<li>Namn: {{ data.guest.name }}</li>
					<li>Epost: {{ data.guest.email }}</li>
					<li>Telefon: {{ data.guest.phone }}</li>
					<li>Allergier/Diet: {{ data.guest.allergies }}</li>
					<li>Pris: {{ data.guest.type }}</li>
					<li>Alkoholfri:  {{ data.guest.nonalcoholic }}</li>
				</ul>
				
				{% if data.avec %}
				<ul>
					<li>Namn: {{ data.avec.name }}</li>
					<li>Epost: {{ data.avec.email }}</li>
					<li>Telefon: {{ data.avec.phone }}</li>
					<li>Allergier/Diet: {{ data.avec.allergies }}</li>
					<li>Pris: {{ data.avec.type }}</li>
					<li>Alkoholfri:  {{ data.avec.nonalcoholic }}</li>
				</ul>
				{% endif %}
				
				<ul>
					<li>Referensnummer: {{ data.reference_number }}</li>
					<li>Summa: {{ data.sum }}&euro;</li>
				</ul>

{% endblock %}
