{% extends 'base.html' %} {% block content %}
<div class="row-fluid">
	<div class="span9">

		<form action="/{{ year }}/new/" method="post">
			{% csrf_token %}
			<table>
				{{ registration }} 
				
				{{ guest }}

			</table>

			<table id="avec-table">
			{{ avec }}
			</table>

			<input type="submit" value="Skicka" />
		</form>

		<script>
			$(document).ready(function() {
				
				if (!$("#id_avecbutton").is(":checked")){
					$("#avec-table").hide();
				}
				

				$("#id_avecbutton").change(function() {
					$("#avec-table").toggle('slow');
				});
			});
		</script>

	</div>
	<!--/span-->
</div>
<!--/row-->
{% endblock %}
