{% extends 'home.html' %} {% block middle %}

		<p>{{ desc|safe }}</p>

		<form action="/{{ year }}/new/" method="post">
			{% csrf_token %}

	



				{{ guest.as_p }} {{ registration.as_p }}



				<div id="avec-table">{{ avec.as_p }}</div>
	
						
				<button type="submit" class="btn">Submit</button>
			</p>
		</form>

		<script>
			$(document).ready(function() {

				if (!$("#id_avecbutton").is(":checked")) {
					$("#avec-table").hide();
				}

				$("#id_avecbutton").change(function() {
					$("#avec-table").toggle('slow');
				});
			});
		</script>


{% endblock %}
