body, label {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
body {
	background: #FFFFFF
}
a, a:hover {
	color: #0000FF;
}
h1, h2, h3 {
	
	font-weight: 300;
	text-transform:uppercase;
	color:#72beea
}

h2 {
	font-size: 1.2em;
	color:#000033
}

h3 {
	font-size: 1.1em;
	margin: 0;
	color:#000033

}

td {
	padding: 0 25px 0 0;
	color: #040506
}

p {
	text-align: justify;
	color: #040506
}

p input {
	display: block;
}

.container {
	padding-top: 60px;
}

.bird {
	background-image: url('/static/img/isberg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
	overflow: auto;
}

.welcome {
font-size: 3em;
letter-spacing: 2px;
}

.caps {
		text-transform:uppercase;
}

.smallspacing {
	letter-spacing: -1px;
	/*text-align: center;*/
	word-spacing: 3px;
}

.logo {
	/*width: 500px;
	height: 400px;*/
	float: left;
}

@media (min-width: 1200px){
	div.timetable {
	margin-top: 300px;
	padding-bottom: 285px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	div.timetable {
	margin-top: 150px;
	}
}

h3.timetable {
	height: 30px;
}

h2.timetable {
	height: 25px;
	margin: 0;
	padding: 0;
}

li {
	list-style: circle;
}

#spons img {
	max-width: 180px;
	max-height: 60px;
	margin-right: 20px;
	margin-bottom: 20px;
}
